<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87668279587-i9tpdngae4hdd7nafkj6o7ekncuqar8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87668279587-i9tpdngae4hdd7nafkj6o7ekncuqar8c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>87668279587-0ha6e22bt7v96df0vktmm7835dnvtjbu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqumPY9fT3-86hJItXScSfy0nUsjXcDQY</string>
	<key>GCM_SENDER_ID</key>
	<string>87668279587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.ClubBenz</string>
	<key>PROJECT_ID</key>
	<string>clubenz-261106</string>
	<key>STORAGE_BUCKET</key>
	<string>clubenz-261106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87668279587:ios:d2416aec70b087a2376496</string>
	<key>DATABASE_URL</key>
	<string>https://clubenz-261106.firebaseio.com</string>
</dict>
</plist>